### for rest
Header always set Access-Control-Allow-Headers "authorization,content-type"
Header always set Access-Control-Allow-Methods "GET,HEAD,PUT,PATCH,POST,DELETE"
Header always set Access-Control-Allow-Origin "*"
#Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
#Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS"
#Header always set Access-Control-Expose-Headers "Content-Security-Policy, Location"
#Header always set Access-Control-Max-Age "600"
### for rest

Options +FollowSymlinks
RewriteEngine On

### for rest
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
### for rest

RewriteCond %{REQUEST_URI} ^/(assets|css|react) 
RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^css/(.*)$ /web/css/$1 [L]
RewriteRule ^react/(.*)$ /web/react/$1 [L]

RewriteCond %{REQUEST_URI} !^/web/(assets|css|react)
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ web/index.php
